<div class="p-2">
  <h1 class="text-slate-600 text-3xl my-4">Product details page</h1>

  <div *ngIf="product" class="bg-gray-100 p-4 rounded-lg flex flex-col gap-1.5">
    <a
      class="text-sky-500 font-semibold hover:opacity-80 text-base cursor-pointer"
      [title]="product.name + ' details'"
    >
      {{ product.name }}
    </a>
    <p><strong>Dscription:</strong> {{ product.description }}</p>
    <p><strong>Price:</strong> {{ product.price | currency }}</p>
    <div class="flex gap-2">
      <app-product-share></app-product-share>
      <app-product-notify [product]="product"></app-product-notify>
    </div>
  </div>
</div>
