/* You can add global styles to this file, and also import other style files */

* {
  transition: 0.5ms;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  color: #616161;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px;
  background-color: #1976d2;
}
.nav-bar .logo h2 {
  color: white;
}
.nav-bar .btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  color: #1976d2;
  background-color: #fff;
}

.btns {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 8px;
  background-color: #1976d2;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  font-size: normal;
}

.wrapper {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.wrapper h2 {
  text-align: center;
}

.card {
  background-color: #f3f2f2;
  padding: 15px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card .title {
  display: block;
  color: #1976d2;
  font-weight: 600;
  font-size: 1rem;

  cursor: pointer;
}
.card .title:hover {
  opacity: 0.8;
}
